<div class="umf-friends">
  <div class="umf-friends__container">
    <div class="umf-friends__block">
      <h2 class="umf-friends__title">My friends</h2>
      <ul class="umf-friends__list">
        <li class="umf-friends__item" *ngFor="let item of [{},{},{},{}]">
          <figure class="umf-friends__figure">
            <img src="assets/images/user2.png" alt="" class="umf-friends__image" />
          </figure>
          <span class="umf-friends__txt">Antonio Ayala</span>
          <span class="umf-friends__txt umf-friends__txt--online">online</span>
        </li>
      </ul>
    </div>
  </div>
</div>