///*------------------------------------------------------------
//    #COLORS
//-------------------------------------------------------------*/



$color-map: (
	primary		:	#4366a6,
	secondary	:	#5f748a,
	tertiary	:	#a0ae2c,
	box-example :  	#9c9c9c,
	body	    :   #080d10,
	text-1      :   #666666, 
	title       :   #4366a6,
	link        :   #1875D1,
	sublink		:   #666666,
	grey-1  	:   #cecece,
	grey-2      :   #8b8c8d,
	grey-3      :   #5f748a,
	grey-4      :   #f1f1f1,
	grey-5      :   #797979,
	grey-6      :   #555555,
	grey-7 		:	#e0e0e0,
	grey-8      :   #9c9c9c,
	white-1 	:   #ffffff,
	black-1     :   #000000,
	blue-1      :   #4485c9,
	blue-2      :   #2a4d8e,
	blue-3 		:	#32518a,
	blue-4 		:	#132953,
	blue-5      :   #1875D1,
	red-1       :   #b01818,
	yellow-1    :   #fbff02,
	green-1     :    #88FF42,
	green-2     :    #59ad29
);