<ng-container *ngIf="!enableGeologation">
  <div class="umf-empty-case">
    <div class="umf-empty-case__container">
      <div class="umf-empty-case__block">

        <figure class="umf-empty-case__figure">
          <img src="assets/images/cactus.png" class="umf-empty-case__image" alt="" />
        </figure>
        <figure class="umf-empty-case__secondfigure">
          <img src="assets/images/estepicursor.png" class="umf-empty-case__image" alt="" />
        </figure>

        <span class="umf-empty-case__title">Oops,
          we don't have access to your location</span>
        <span class="umf-empty-case__txt">Please, enable it to continue</span>
      </div>
    </div>
  </div>
</ng-container>
<div class="umf-map" [hidden]="enableGeologation">
  <agm-map #map [latitude]="lat" [longitude]="lng" [styles]="mapStyle" [disableDefaultUI]="true" [gestureHandling]="'greedy'"
    [zoom]="16" [maxZoom]="16" [zoomControl]="false" [minZoom]="16" [streetViewControl]="false" [usePanning]="true"
    (boundsChange)="checkMarkersInBounds($event)">
    <agm-direction [origin]="myLocation" [destination]="locationPet" [provideRouteAlternatives]="true" [renderOptions]="renderOptions">
    </agm-direction>
    <agm-overlay [latitude]="lat" [longitude]="lng">
      <div class="umf-position"></div>
    </agm-overlay>
    <agm-marker *ngFor="let animal of data" #marker [latitude]="animal.lat" [longitude]="animal.lng" [iconUrl]="'./assets/images/marker2.png'"
      [attr.id]="animal.id" (markerClick)="openSectionDetails($event,animal)" [markerClickable]="true" [zIndex]="99999"
      (mouseOver)="setHoverElement($event, marker.id)">
    </agm-marker>
  </agm-map>

  <div class="umf-nearby-animals">
    <ul class="umf-nearby-animals__list">

      <li class="umf-nearby-animals__item" *ngFor="let item of animalsNearby" [attr.id]="item.id"
        [class.umf-nearby-animals__item--active]="hoverAnimal == item.id" #itemAnimal (mouseenter)="setHoverElement(itemAnimal.id)">
        <a href="#" [attr.title]="item.name" class="umf-nearby-animals__link" (click)="openSectionDetails($event, item)">
          <figure class="umf-nearby-animals__figure">
            <img [attr.src]="item.image" [attr.alt]="item.name" class="umf-nearby-animals__image" /></figure>
          <div class="umf-nearby-animals__bottom">
            <span class="umf-nearby-animals__text" [innerHTML]="item.name"></span>
            <span class="umf-nearby-animals__location" [innerHTML]="item.distance+'m'"></span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>
<!-- modal details -->
<app-modal-details [visible]="sectionDetails" (onCloseModal)="sectionDetails = !sectionDetails" [data]="animalSelected"></app-modal-details>