///*----------------------------------------------
//   # audays-layout
//------------------------------------------------*/
.#{$wf__ns}layout {
    font-size: 0;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}